// *トップ画面
@media screen {
  .main__content {
    width: 95%;
    margin: 0 auto;
    
    .text__outer {
      width: 100%;
      margin: 0 auto;
      padding: 13px;
      .large {
        font-size: calc(36 / 750 * 100vw);
      }
      
      p {
        margin-top: calc(15 / 750 * 100vw);
        font-size: calc(24 / 750 * 100vw);
      }
    }
    
    .search-window {
      // margin-top: calc(160 / 750 * 100vw);
      width: 100%;
    }
  }
  #top {
    .top__wrapper {
      display: block;
      
      .mypage {
        position: fixed;
        z-index: 10;
        left: 0;
        bottom: 0;
        font-size: calc(32 / 750 * 100vw);
        color: #000;
        font-weight: bold;
      }
    }
  }
}

// *PC
@media screen and (min-width: 960px) {
  .main__content {
    margin: 0 auto;
    width: 800px;
    
    .text__outer {
      width: 100%;
      padding: 13px;
      .large {
        font-size: 24px;
      }
      
      p {
        margin-top: 15px;
        font-size: 18px;
      }
    }
    
    .search-window {
      // margin-top: calc(160 / 750 * 100vw);
      width: 100%;
      padding-bottom: 20px;
    }
  }
  #top {
    .top__wrapper {
      // width: 960px;
      margin: 0 auto;
      position: relative;

      .mypage {
        font-size: 20px;
      }
    }
  }
  
}