@media screen {
  .mypage__wrapper {
    .mypage__container {
      &.form__container {
        margin-top: 0;
      }
      .mypage__content {
        .menu__list {
          display: flex;
          gap: calc(20 / 750 * 100vw);
          padding-bottom: calc(40 / 750 * 100vw);
        }
      }
    }
  }

  .btn {
    margin: calc(40 / 750 * 100vw) auto;
  }
}

@media screen and (max-width: 960px) {
  .mypage__wrapper {
    .mypage__container {
      .mypage__content {
        .menu__list {
          gap: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .btn {
    margin: 20px auto;
  }
}