@media screen {
  * {
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(200 / 750 * 100vw) 0 0;
  }

  .btn {
    color: #000;
    background-color: lightgrey;
    display: block;
    text-align: center;
    border: 1px solid #000;
    font-size: calc(32 / 750 * 100vw);
    font-family: Arial;
    font-weight: bold;
    width: calc(240 / 750 * 100vw);
    height: calc(60 / 750 * 100vw);
    line-height: calc(60 / 750 * 100vw);
  }
  
  .btn__container .btn {
    margin: 0;
  }
  
  .menu__content {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    top: 0;
    padding: calc(20 / 750 * 100vw);
    width: 100%;
    height: calc(160 / 750 * 100vw);
    background-color: lightblue;
    font-size: calc(28 / 750 * 100vw);
    .menu__list {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      gap: calc(15 / 750 * 100vw);
    }
  }
  
  .main__content {
    width: 95%;
  }
}


// *PC
@media screen and (min-width: 960px) {
  body {
    background-color: lightblue;
  }
  
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  
  main {
    background-color: #fff;
    margin: 0 auto;
    width: 960px;
    padding: 180px 0 0;
    // height: 100vh;
  }
  
  .btn {
    font-size: 18px;
    width: 240px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
  }
  
  .menu__content {
    padding: 20px;
    margin: 0 auto;
    width: 960px;
    height: 160px;
    font-size: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    .menu__list {
      gap: 15px;
    }
  }
  
  .main__content {
    width: 800px;
  }
}

@import './home';
@import './form';
@import './mypage';