@media screen {
  * {
    text-decoration: none;
    box-sizing: border-box;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26.6666666667vw 0 0;
  }
  .btn {
    color: #000;
    background-color: lightgrey;
    display: block;
    text-align: center;
    border: 1px solid #000;
    font-size: 4.2666666667vw;
    font-family: Arial;
    font-weight: bold;
    width: 32vw;
    height: 8vw;
    line-height: 8vw;
  }
  .btn__container .btn {
    margin: 0;
  }
  .menu__content {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    top: 0;
    padding: 2.6666666667vw;
    width: 100%;
    height: 21.3333333333vw;
    background-color: lightblue;
    font-size: 3.7333333333vw;
  }
  .menu__content .menu__list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    gap: 2vw;
  }
  .main__content {
    width: 95%;
  }
}
@media screen and (min-width: 960px) {
  body {
    background-color: lightblue;
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  main {
    background-color: #fff;
    margin: 0 auto;
    width: 960px;
    padding: 180px 0 0;
  }
  .btn {
    font-size: 18px;
    width: 240px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
  }
  .menu__content {
    padding: 20px;
    margin: 0 auto;
    width: 960px;
    height: 160px;
    font-size: 24px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .menu__content .menu__list {
    gap: 15px;
  }
  .main__content {
    width: 800px;
  }
}
@media screen {
  #top .top__wrapper {
    display: block;
  }
  #top .top__wrapper .main__content {
    margin: 26.6666666667vw auto 0;
  }
  #top .top__wrapper .main__content .text__outer {
    width: 66.6666666667vw;
    margin: 0 auto;
  }
  #top .top__wrapper .main__content .text__outer .large {
    font-size: 4.8vw;
  }
  #top .top__wrapper .main__content .text__outer p {
    margin-top: 2vw;
    font-size: 3.2vw;
  }
  #top .top__wrapper .main__content .search-window {
    width: 100%;
  }
  #top .top__wrapper .mypage {
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    font-size: 4.2666666667vw;
    color: #000;
    font-weight: bold;
  }
}
@media screen and (min-width: 960px) {
  #top .top__wrapper {
    margin: 0 auto;
    position: relative;
  }
  #top .top__wrapper .main__content {
    margin: 0 auto;
  }
  #top .top__wrapper .main__content .text__outer {
    width: 772px;
    margin: 0 auto;
  }
  #top .top__wrapper .main__content .text__outer .large {
    font-size: 24px;
  }
  #top .top__wrapper .main__content .text__outer p {
    margin-top: 15px;
    font-size: 18px;
  }
  #top .top__wrapper .main__content .search-window {
    width: 100%;
    padding-bottom: 20px;
  }
  #top .top__wrapper .mypage {
    font-size: 20px;
  }
}
@media screen {
  * {
    font-size: 3.7333333333vw;
  }
  h1 {
    text-align: center;
    font-size: 4.8vw;
    font-weight: bold;
  }
  .form__wrapper {
    margin: 4vw auto;
  }
  .form__wrapper .form__container {
    margin: 4vw auto 0;
    width: 95%;
  }
  .form__wrapper .form__container .form__content {
    border: 1px solid #000;
    padding: 4vw 0;
  }
  .form__wrapper .form__container .form__content .form__outer {
    padding: 0 2vw;
  }
  .form__wrapper .form__container .form__content .form__outer + .form__outer {
    margin-top: 5.3333333333vw;
  }
  .form__wrapper .form__container .form__content .form__outer .register__content {
    margin-top: 2vw;
  }
  .form__wrapper .form__container .form__content .form__outer .register__content--list {
    margin-top: 4vw;
  }
  .form__wrapper .form__container .form__content .notation {
    margin-bottom: 8vw;
    text-align: center;
  }
  .form__wrapper .form__container .form__content .notation p {
    font-weight: bold;
  }
  .btn__container {
    display: flex;
    justify-content: center;
    -moz-column-gap: 8vw;
         column-gap: 8vw;
    margin-top: 5.3333333333vw;
  }
}
@media screen and (min-width: 960px) {
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 36px;
  }
  .form__wrapper .form__container .form__content {
    padding: 15px 0;
  }
  .form__wrapper .form__container .form__content .form__outer {
    padding: 0 15px;
  }
  .form__wrapper .form__container .form__content .form__outer + .form__outer {
    margin-top: 20px;
  }
  .form__wrapper .form__container .form__content .form__outer .register__content {
    margin-top: 10px;
  }
  .form__wrapper .form__container .form__content .form__outer .register__content--list {
    margin-top: 15px;
  }
  .form__wrapper .form__container .form__content .notation {
    margin-bottom: 40px;
  }
  .form__wrapper .form__container .form__content .notation p {
    font-weight: bold;
  }
  .btn__container {
    -moz-column-gap: 45px;
         column-gap: 45px;
    margin: 30px auto;
  }
}
@media screen {
  #form input[type=text] {
    display: block;
    width: 80%;
    margin-top: 2vw;
  }
  #form input[type=checkbox] {
    display: inline-block;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__list {
    display: block;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__item {
    margin-top: 2vw;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__item label {
    display: block;
    position: relative;
    padding-left: 2em;
    line-height: 2em;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__item label input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (min-width: 960px) {
  #form input[type=text] {
    display: block;
    width: 80%;
    margin-top: 15px;
  }
  #form .form__wrapper h1 {
    font-size: 36px;
  }
  #form .form__wrapper .form__container {
    width: 90%;
    margin: 40px auto 0;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__item {
    margin-top: 5px;
  }
  #form .form__wrapper .form__container .form__content .form__outer .input-check__item label {
    padding-left: 1.5em;
    line-height: 1.5em;
  }
}
@media screen {
  #complete .form__wrapper .form__container {
    padding: 8vw 4vw;
  }
  #complete .form__wrapper .form__container .form__content {
    padding: 4vw 0;
  }
}
@media screen {
  #complete .form__wrapper .form__container {
    padding: 60px 30px;
  }
  #complete .form__wrapper .form__container .form__content {
    padding: 30px 0;
  }
}
@media screen {
  .mypage__wrapper .mypage__container.form__container {
    margin-top: 0;
  }
  .mypage__wrapper .mypage__container .mypage__content .menu__list {
    display: flex;
    gap: 2.6666666667vw;
    padding-bottom: 5.3333333333vw;
  }
  .btn {
    margin: 5.3333333333vw auto;
  }
}
@media screen and (max-width: 960px) {
  .mypage__wrapper .mypage__container .mypage__content .menu__list {
    gap: 20px;
    padding-bottom: 20px;
  }
  .btn {
    margin: 20px auto;
  }
}